<!DOCTYPE html>
<html>
<head>
    <base href="{{BaseUrl}}">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{ViewBag.Title}} - SilkierQuartz</title>

    <link rel="icon" type="image/png" sizes="16x16" href="Content/Images/favicons/favicon-16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="Content/Images/favicons/favicon-24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="Content/Images/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="Content/Images/favicons/favicon-48.png">
    <link rel="icon" type="image/png" sizes="64x64" href="Content/Images/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="192x192" href="Content/Images/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="Content/Images/favicons/favicon-256.png">

    <link rel="stylesheet" href="Content/Lib/semantic-ui/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="Content/Lib/semantic-ui/calendar.min.css" type="text/css" />
    <link rel="stylesheet" href="Content/Fonts/Lato.css" type="text/css" />
    <link rel="stylesheet" href="Content/Site.css" type="text/css" />

    <script src="Content/Lib/jquery-3.3.1.min.js"></script>
    <script src="Content/Lib/moment.min.js"></script>
    <script src="Content/Lib/FileSaver.js"></script>
    <script src="Content/Lib/semantic-ui/semantic.min.js"></script>
    <script src="Content/Lib/semantic-ui/state.min.js"></script>
    <script src="Content/Lib/semantic-ui/calendar.min.js"></script>

    <script src="Content/Scripts/global.js"></script>
</head>
<body>

    <div class="ui container" id="environment-alert">
        <p id="environment-text"> EPA {{Environment}} environment: The content on this page is not production data and this site is being used for <b>development</b> and/or <b>testing</b> purposes only. </p>
    </div>

    <div class="ui container" style="padding:15px;">
        <img class="logo" src="{{Logo}}" width="15%" height="15%" href="https://www.epa.gov" alt="Official EPA Logo">
    </div>

    <div class="ui top inverted stackable menu" id="top-menu">
        <div class="ui container">
            <div class="ui header item">
                <a class="navbar-brand" href="{{BaseUrl}}">
                    {{ProductName}}
                </a>
            </div>

            {{MenuItemActionLink title='Overview' controller='Scheduler'}}
            {{MenuItemActionLink 'Jobs'}}
            {{MenuItemActionLink 'Triggers'}}
            {{MenuItemActionLink 'Executions'}}
            {{MenuItemActionLink 'History'}}
            {{MenuItemActionLink 'Calendars'}}
            {{MenuItemActionLink title='Logout' controller='Authenticate/Logout'}}

            <!--
    <div class="right menu">
        <div class="ui dropdown item">
            <i class="user circle large icon"></i>
            domain\user
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item center" href="#">Logout</a>
            </div>
        </div>
    </div>
    -->
        </div>
    </div>

    <div class="ui main container" {{#footer}}style="min-height: calc(100% - 173px);"{{/footer}}>
        {{{body}}}
    </div>

    <div class="ui hidden divider"></div>

    <script>
        $(function () {
            $('#top-menu .ui.dropdown').dropdown();
        });
    </script>

</body>
</html>
